.tile {
  border: 2px solid gray;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 4px lightgray;
  margin: 5px;
  display: inline-block;
  text-align: center;
}
.wraper{
    display: grid;
    background: #eee;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
