.html {
  height: 100%;
}

.bg {
  
  background-color: #cccccc;
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

  // Full height 
height: 100%; 

// Center and scale the image nicely 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}



.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-box {
  width: 350px;
  height: 350px;
  background: rgba(0, 0, 55, 0.45);
  color: #fff;
  position: absolute;
  box-sizing: border-box;
  padding: 30px 30px;
  margin-top: 50px;
}

.login-box input {
  width: 100%;
  margin-bottom: 10px;
}

.login-box button {
  width: 100%;
}

.login-box input {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
}

h2 {
  text-align: center;
}

.seating-box {
  padding: 50px 50px;
  width: 350px;
  height: 250px;
  position: absolute;
  margin-top: 20px;
  background: rgba(0, 0, 55, 0.45);
  color: #fff;
}

.seating-box button {
  width: 20%;
  height: 20%;
}

.cost-box {
  width: 350px;
  height: 600px;
  background: rgb(217, 217, 2);
  position: absolute;
  box-sizing: border-box;
  padding: 20px 30px;
}

.list-box {
  width: 300px;
  height: 430px;
  overflow-y: scroll;
  background: rgb(200,200,17);
  position: absolute;
  box-sizing: border-box;
  padding: 20px 25px;
}

.disp-box {
  width: 750px;
  height: 530px;
  background: rgb(217, 217, 217);
  position: absolute;
  box-sizing: border-box;
  padding: 10px 10px;
}

.tile {
  border: 2px solid gray;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 4px lightgray;
  margin: 5px;
  display: inline-block;
  text-align: center;
}

.wraper {
  display: grid;
/*  background: #eee;*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
