<div class="container">
<!--
    <nav class="navbar navbar-inverse" >
      <ul class="nav navbar-pills navbar-center">
        <li><a ui-sref="home()">Home</a></li>
        <li><a ui-sref="login()">Login</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-controller="LoginCtrl">
        <h4 style="color:blanchedalmond;">{{user}}</h4>
      </ul>

    </nav>
-->
  
<!--<my-navigation></my-navigation>-->
<h1>Home Page</h1>
    <div class="container">
<!--      <div ui-view></div>-->
    </div>

  </div>