<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Order App</title>
</head>

<body>

  <div class="login-box" ng-controller="LoginCtrl">
    <p>
      <h2>Login</h2>
    </p>
    <div action="/" class="form-group">
      <label> Username </label>
      <input ng-model="usrname" placeholder="Enter Username" />

      <label>Password</label>
      <input ng-model='pwd' type="password" placeholder="Enter Password" />
    </div>
    <button class="btn btn-success" ng-click="validate()">
            Submit
        </button>
    <!-- <p>
            <br />
            {{txt}}
        </p> -->
  </div>

</body>


</html>
