<!DOCTYPE html>
<div>
  <h1 align='center'>orders </h1>

  <div class="container">

    <nav class='navbar navbar-default'>
      <div ng-controller="OrdersCtrl">

        <ul class="nav navbar">
          <li><a ui-sref='.page1'>Page1</a></li>
          <li><a ui-sref='.page2'>Page2</a></li>
          <li><a ui-sref='.page3'>Page3</a></li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col-xs-8">
<!--        <div class="container">-->
          <div ui-view class="disp-box">
          </div>
<!--        </div>-->
      </div>

      <div class="col-xs-4">
        <div class="cost-box" ng-controller="CostCtrl">
          <div class="container-fluid">
            <button class="btn btn-primary" style="float:left;" ng-click="clearOrderList()">CLEAR ORDER</button>
            <h4 style="text-align:right;float:right;">Total : {{total |currency:'£'}}</h4>
            <hr style="clear:both;" />
          </div>

          <div class="list-box">

            <!--
            <ul class="list-group" ng-repeat="(k,v) in orderList" ng-click="editList(k)">
              <li class="list-group-item active">{{k}}      {{v[1]}}</li>
            </ul> 
-->


            <table style="font-size:12px;" class="table table-bordered table-hover" ng-repeat="(k,v) in orderList" ng-click="editList(k)">
              <tbody>
                <tr>
                  <td align="left">{{k}}</td>
                  <td align="right">{{v[1]}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
