<!DOCTYPE html>
<html lang="en">

<head>
    <title>Seating</title>
</head>

<body >

    <h1>Seating Arrangement</h1>
  
    <div class="seating-box centered" ng-controller="SeatCtrl">

        <button style="position: relative; top: 0px; left: 0px; height: 50px; width: 100px;" class="btn btn-primary" ng-click="addPeople(1)">Seat 1</button>
        <button style="position: relative; top: 0px; left: 30px; height: 50px; width: 100px;" class="btn btn-primary" ng-click="addPeople(2)">Seat 2</button>
        <button style="position: relative; top: 30px; left: 0px; height: 50px; width: 100px;" class="btn btn-primary" ng-click="addPeople(3)">Seat 3</button>
        <button style="position: relative; top: 30px; left: 30px; height: 50px; width: 100px;" class="btn btn-primary" ng-click="addPeople(4)">Seat 4</button>

    </div>
    <p>
        <!-- {{text}} -->
    </p>

</body>

</html>
